.card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--dark-navy);
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 250px;
  width: auto;
  height: auto;
  border-radius: 6px;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
}

.date {
  font-size: 0.9rem;
  color: var(--grey);
}

.description {
  color: var(--grey);
}

.link {
  color: var(--teal);
}