.commentCard {
  padding: 0.75rem;
  background-color: var(--dark-navy);
  border-left: 3px solid var(--teal);
  border-radius: 4px;
  margin-bottom: 1rem;
}

.user {
  color: var(--white);
}

.text {
  color: var(--grey);
}

.time {
  color: var(--grey);
  font-size: 0.8rem;
}