.navbar {
  background-color: var(--dark-navy);
  color: var(--white);
  padding: 1rem;
  border-bottom: 1px solid var(--teal);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  font-weight: bold;
}

.logo :global(a) {
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.navList li {
  display: inline;
}

.navList :global(a) {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}

.navList :global(a):hover{
  color: var(--teal);
}

.navList :global(a):focus {
  color: var(--teal);
}
