.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 900px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.description {
  line-height: 1.5;
  color: var(--grey);
}