:root {
  --black: #0b0c10;
  --dark-navy: #0d1b2a;
  --grey: #c5c6c7;
  --white: #ffffff;
  --teal: #00b3b3;
  --footer-height: 72px;
}

/*--Prevents horizontal scrolling--*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black);
  color: var(--grey);
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 2rem;
  padding-bottom: 1rem;
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3 {
  color: var(--white);
  margin: 0;
}

p {
  color: var(--grey);
  margin: 0.5rem 0;
  line-height: 1.45;
}

a {
  color: var(--grey);
  text-decoration: none;
}

a:hover {
  color: var(--teal);
}

.container {
  padding-bottom:60px;
}